.input-group{
    position: relative;   
}
.success input{
    border: greenyellow solid 2px;
}
.error input{
    border: red solid 2px;
}
.input-group i{
    position: absolute;   
    right: 20px;
    top: 5px;
    visibility: hidden;
}
.success i.bi-check-circle-fill{
    color: greenyellow;
    visibility: visible;
}
.error i.bi-exclamation-circle-fill{
    color: red;
    visibility: visible;
}
.input-group p{
    position: absolute;
    top: 37px;
    left:5px;
    font-size: 11px;
    color: red;
    visibility: hidden;
}
.error p{
    visibility: visible;
}